<img style="display: block; margin-left: auto; margin-right: auto; padding-top: 2%" width="800" height="500" align="middle" src="images/logo/logowithname_crop.png">

<h2 style="text-align: center; padding-top: 5%; padding-bottom: 4%;font-size: 300%;" >Support all of your favorite open source software today</h2>
<%= button_to "Explore", explore_url, :style => "width:200px; display: block; margin: 0 auto;",  :class => "btn btn-danger salmon-color	" , method: :get%>
