<h2 style="text-align: center; padding-top: 5%; padding-bottom: 4%;font-size: 400%;" >PatronizeMe</h2>

<h2 style="text-align: center; padding-top: 5%; padding-bottom: 4%;font-size: 300%;" >Support all of your favorite open source software today</h2>
<%= button_to "Explore", explore_url, :style => "width:200px; display: block; margin: 0 auto;",  :class => "btn btn-primary" , method: :get%>
