<h1>Error: Project already exists on PatronizeMe (:</h1>
<button type="button" class="btn btn-outline-primary" id="btn_projects" onclick="location.href = '<%=profile_githubprojects_path%>'">Add a Project</button>
