<center>
  <h2 style="align-content:center; padding-top: 20%; padding-bottom: 4%;font-size: 300%;" >Welcome to PatronizeMe</h2>
  <a style="width:200px;" class="btn btn-block btn-social btn-github">
    <span class="fa fa-github"></span> Sign in with GitHub
  </a>
</center>
