<h2 style="align-content:center; padding-top: 20%; padding-bottom: 4%;font-size: 300%;" >Welcome to PatronizeMe</h2>
<%= button_to "Sign in with GitHub", user_github_omniauth_authorize_path(), :style => "width:250px",  :class => "btn btn-block btn-social btn-github"  %>
